<!DOCTYPE HTML>
<html>
  <head>
    <script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
  </head>
  <body>
    <script src="/public/chat.js" type="text/javascript" charset="utf-8"></script>
    <ul id="messages">
    </ul>
    <form id="chat_form" action="#">
      <input type="text" id="chat_input" />
    </form>
    <div id="status">
      
    </div>
  </body>
</html>
